<nav class="navbar navbar-expand-lg navbar-dark ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Kelime Bahçesi</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarColor01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">Anasayfa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blogs' %}">Bloglar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'categories' %}">Kategoriler</a>
          </li>
        </ul>
        <ul class="navbar-nav me-2">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Hoşgeldiniz</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Çıkış Yap</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Giriş Yap</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">Kayıt Ol</a>
            </li>
         {% endif%}
          </ul>
      </div>
    </div>
  </nav>