{% load static%}

<footer class="blog-footer mt-5">
    <div class="container">
        <div class="row d-flex mt-5 p-5">
            <div class="col-12 col-lg-4">
                <img src="{% static 'img/logo.png' %}" alt="" width="300px" height="200px">
               
                <div class="icon ms-5">
                    <a href="" class="me-4 icon-element">
                        <i class="bi bi-facebook"></i>
                    </a>
                    <a href="" class="me-4 icon-element">
                        <i class="bi bi-twitter"></i>
                    </a>
                    <a href="" class="me-4 icon-element">
                        <i class="bi bi-instagram"></i>
                    </a>
                </div>

            </div>
           
             <div class="col-12 col-lg-4">
                 <h5>Son  Eklenenler </h5>
                 <ul class="list">
                     <li class="mb-2"><a href="#">Oblomov</a></li>
                     <li class="mb-2"><a href="#">Tutunamayanlar</a></li>
                     <li class="mb-2"><a href="#">İlya İlyiç'in Ölümü</a></li>
                     <li class="mb-2"><a href="#">Martin Eden</a></li>
                 </ul>
             </div>
             <div class="col-12 col-lg-4">
                 <h5>Çok Okunanlar</h5>
                 <ul class="list">
                     <li class="mb-2"><a href="#">Uçurtma Avcısı</a></li>
                     <li class="mb-2"><a href="#">Dünyanın İlk Günü</a></li>
                     <li class="mb-2"><a href="#">İçimizdeki Şeytan</a></li>
                     <li class="mb-2"><a href="#">Şeker Portakalı</a></li>
                 </ul>
             </div>
           
           
        </div>
    </div>
    <hr>
</footer>